<mat-card>
    <mat-card-content>
        <h2>Log In</h2>
        <mat-form-field>
          <input matInput placeholder="Email" 
          [(ngModel)]="user.email" 
          name="username" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" 
          placeholder="Password" 
          [(ngModel)]="user.password">
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button 
        color="primary"
        (click) = "onSubmit()">Login</button>
    </mat-card-content>
  </mat-card>